body{
    background-color: #240115;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
}

.navigation{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    float: right;
    list-style-type: none;

}

#home-logo{
    object-fit: cover;
}

#hero-logo{
    width: 1000px;
    height: 1000px;
    object-fit: cover;
}