body{
    background-color: #001011;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
}

.navigation{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    float: right;
    list-style-type: none;

}

#home-logo{
    width: 1000px;
    height: 200px;
    object-fit: cover;
    padding: 70px;
}
section{
    display: flex;
    justify-content: center;
}

#hero-logo{
    width: 500px;
    height: 500px;
    object-fit: cover;
}